<div class="container w-50 mt-5">
    <h3 class="text-header">ข่าวประชาสัมพันธ์</h3>
    <div class="d-flex justify-content-end">
        <button class=" create-news">
            <i class="fa-solid fa-circle-plus"></i>
            สร้างข่าว
        </button>
    </div>
    <h5 class="ms-5 text-header">รายการข่าวประชาสัมพันธ์</h5>
    <div class="row bg-header p-3 mt-4">
        <div class="col-1">

        </div>
        <div class="col-1 text-center">
            <span class="fw-bold">ลำดับ</span>
        </div>
        <div class="col text-center">
            <span class="fw-bold">ชื่อเรื่อง</span>
        </div>
        <div class="col-2">
            <span class="fw-bold">วันที่สร้าง</span>
        </div>
        <div class="col-2">
            <span class="fw-bold">จัดการ</span>
        </div>
    </div>
    <div>
        <div *ngFor="let news of newsList">
            <app-data-row [newsData]="news" (viewInfo)="viewInfoReq($event, template)"></app-data-row>
        </div>
    </div>
    <div class="d-flex">
        <div class="dropdown me-3" style="width: 80px;">
            <button class="select-data-count-btn dropdown-toggle d-flex justify-content-between align-items-center "
                type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                10
                <i class="fa-solid fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">5</a></li>
                <li><a class="dropdown-item" href="#">10</a></li>
                <li><a class="dropdown-item" href="#">20</a></li>
            </ul>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&lt;&lt;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link">1</a></li>
                <li class="page-item active"><a class="page-link">2</a></li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&gt;&gt;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<ng-template #template>
    <div class="modal-header bg-modal-header">
        <h6 class="modal-title pull-left">รายละเอียดข่าวประชาสัมพันธ์</h6>
    </div>
    <div class="modal-body">
        <div class="row mb-4">
            <div class="col-3 text-center">
                <p>
                    ชื่อเรื่อง
                    <span class="text-danger">*</span>
                </p>
            </div>
            <div class="col-9">
                <input type="text" [value]="newsModal.NameNews" class="w-100 name-news">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-3 text-center">
                <p>
                    เนื้อหา
                    <span class="text-danger">*</span>
                </p>
            </div>
            <div class="col-9">
                <textarea [value]="newsModal.Detail" class="w-100 content-news" rows="3"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-center">
                <p>สถานะ</p>
            </div>
            <div class="col-9">
                <div class="toggle-button-cover">
                    <div class="button-cover" style="width: 40px;height: 40px;">
                        <div class="button r" id="button-1">
                            <input id="newsStatus" type="checkbox" class="checkbox" [checked]="status"
                                (change)="onStatusEvent()" />
                            <div class="knobs"></div>
                            <div class="layer top"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button class="close-btn" (click)="modalRef?.hide()">ปิด</button>
        </div>
    </div>
</ng-template>